.loading-bar {
    margin-top: 50px;
    margin-bottom: 50px;

    .Polaris-ProgressBar {
        height: 0.8rem;
        width: 100%;
        //margin-left: 7.5%;
    }

    .Polaris-ProgressBar__Indicator {
        background-color: #005DAA;
    }
}