.nav-bar {
  position: relative;
  z-index: 2;
  .Polaris-Card {
    height: 50px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    box-shadow: 0 4px 4px -2px gray;
  }
  .Polaris-Stack {
    display: flex;
  }
  // .Polaris-Stack__Item {
  //   flex: 1;
  // }
  .hamburger-menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
  .costco-img {
     flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .account-img {
    flex: 1.5;
    text-align: center;
    margin-top: 5px;
    color: #005DAA;
    .Polaris-Icon svg {
      fill:#005DAA;
    }
  }
  
  .Polaris-Button--primary {
    width: 50px;
    // background: #005DAA;
  }
}