h1 {
  font-size: 2em;
  margin-bottom: 1em;
}
h2 {
  font-size: 1.5em;
  margin-bottom: 2em;
}

h3 {
  font-size: .9em;
  font-weight: bold;
}
.shop-mode-container {
  margin: 50px 30px;

  .button-text {
    font-size: .9em;
    display: inline-block;
    width: 90%;
  }
  
  .Polaris-Button--outline {
    border-radius: 50px;
    margin-bottom: 2em;
  }
  
  .Polaris-Button--outline:hover{
    background: #005DAA;
    color: white;
    fill:white;
  }
  .button-icon {
    display: inline-block;
    width: 10%;
    vertical-align: top;
    margin-top: 5px;
  }
  .Polaris-Button--outline:hover .button-icon {
    fill: white;
  }
}
.bold {
  font-weight: bold;
}

