.flow-container {
  margin: 50px 30px;
}
.icon-container {
  margin-top: 25px;
  display: flex;
}
.flow-ex {
  font-size: 25px;
}
.flow-back {
  flex: 1;
  font-size: 25px;
}
.back-icon {
  fill: gray;
}
.ex-icon {
  fill: gray;
}