.flow-container {
  margin: 30px 30px;
  .icon-container {
    margin-top: 25px;
    display: flex;
  }
  .flow-back {
    flex: 1;
  }
  .Polaris-Button--plain svg {
    fill: darkgray;
    font-size: 25px;
    :hover {
      fill: gray;
    }
  }

  h1 {
    font-size: 24px;
    margin-bottom: 1em;
    line-height: 1em;
    font-weight: bold;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 2em;
  }
}

