.sheet {
  max-width: 425px;
  margin: auto;
  z-index: 2 !important;
  pointer-events: none !important;
  touch-action: none;

  .react-modal-sheet-container {
    pointer-events: auto;
    touch-action: auto;
  }

  .popupheader {
    margin: 0 20px 0;

    .Polaris-Icon {
      fill: #005DAA;
  }

  }
  .popupcontainer {
    /* give the outermost container a predefined size */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
  }

  .popupbody {
    margin: 0px 0px 10px 0px;

    flex-grow: 1;

    display: flex;
    flex-direction: column;

    /* for Firefox */
    min-height: 0;
  }
  .list {
    flex-grow: 1;
    padding: 5px 20px 20px;
    overflow: auto;

    /* for Firefox */
    min-height: 0;
  }

  .buttons {
    
    margin: 0px 10px 10px;
    padding: 0px 20px 0px;
    .Polaris-Button {
      margin-top: 10px;
    }
  }

  .confirmed-display {
    margin-top: 60px;
   
  }
  .Polaris-DisplayText--sizeSmall {
    margin-bottom: 12.5px;
  }

  .smallButtonText {
    font-size: xx-small;
  }
  .modal {
    z-index: 999999999999;
    margin: auto;
    bottom: 50%;
    width: 85%;
  }

  .Polaris-Backdrop {
    z-index: 99999999;
  }
}

hr.style-six {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #0000001e;
  height: 1px;
}

.Polaris-ButtonGroup {
  justify-content: center;
}

.search-container {
  // position: absolute;
  // button {
  //   position: fixed;
  //   bottom: 77px;
  // }
  .option-list {
    overflow:auto;
    height: 465px; 
  }

  .search-box {
    padding-bottom: 10px;
    border-bottom: 0.1rem solid var(--p-divider, #dfe3e8);
  }
  .add-button {
    padding-top: 10px;
    border-top: 0.1rem solid var(--p-divider, #dfe3e8);
    text-align: center;
    .Polaris-Button {
      display: inline-block;
    }
  }
}