.sheet {
  position: static !important;

  hr.style-six {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: #0000001e;
    height: 1px;
  }
  .popupheader {
    margin: 0 20px 0;
  }
  .popupcontainer {
    /* give the outermost container a predefined size */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
  }

  .popupbody {
    margin: 0px 0px 10px 0px;

    flex-grow: 1;

    display: flex;
    flex-direction: column;

    /* for Firefox */
    min-height: 0;
  }
  .list {
    flex-grow: 1;
    padding: 5px 20px 20px;
    overflow: auto;

    /* for Firefox */
    min-height: 0;
  }

  .buttons {
    margin: 0px 10px 10px;
    padding: 0px 20px 0px;
    .Polaris-Button {
      margin-top: 10px;
    }
  }

  .smallButtonText {
    font-size: xx-small;
  }
  .Polaris-Modal-Dialog__Modal {
    z-index: 999999999999;
    margin-bottom: 61%;
    margin-left: 8%;
    width: 85%;
  }

  .Polaris-Backdrop {
    z-index: 99999999;
  }

  .Polaris-Modal-Dialog__Container {
    z-index: 999999999999;
  }
}
