.bottom-buttons {
  margin-top: 20px;
}
.list-top-bar {
  .Polaris-Card {
    box-shadow: 0 4px 10px 1px lightgray;
  }
}
.shopping-list-container {
  z-index: 1;
  margin-top: 16px;
  position: relative;
}