.content {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;

    // .shopping {
    //     .Polaris-Button {
    //         background: #005DAA;
    //         color: white;
    //         fill: white;
    //     }
    // }
}