.content {
    overflow:auto;
    height: calc(100vh - 260px);
    .face-covering {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    p {
        color:  #637381;
        font-size: 18px;
        line-height: 1.2;
        margin-right: 15px;
    }
}
.shopping {
    margin-bottom: 10px;
}

.social-distance {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    p {
        color:  #637381;
        font-size: 18px;
        line-height: 1.2;
        margin-right: 15px;
    }
}

.reusable-bag {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
    p {
        color:  #637381;
        font-size: 18px;
        line-height: 1.2;
        margin-right: 15px;
    }
}

.Polaris-Thumbnail {
    margin-right: 15px;
    margin-left: 8px;
}

.Polaris-Icon {
    float: right;
    fill: #005DAA;
    margin-right: 8px;
}

}