.content {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 200px;

    .main-text {
        font-size: 30px;
        padding-bottom: 1em;
    }

    .sub-text {
        font-size: 15px;
        padding-bottom: 2em;
    }

    .shopping {
        .Polaris-Button {
            background: #005DAA;
            color: white;
            fill: white;
        }
    }

}